.p1,.p2{
    text-align: justify;
    color: rgb(0, 0, 0);
    
}

.p3{
    
    background-color: rgb(255, 0, 0);
}

.centrar_Testo {
    text-align: center;
    font-weight: bold;
}

.gatos_centrados{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
